<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>Timestamp Microservice</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	</head>
	<body>
		<header>
			<h2>Timestamp Microservice</h2>
			<hr />
		</header>
		<main>
			<section id="usage">
				<p class="section-title">Example Usage:</p>
				<a href="api/2015-12-25">[project url]/api/2015-12-25</a>
				<a href="api/1451001600000">[project url]/api/1451001600000</a>
			</section>
			<section id="output">
				<p class="section-title">Example Output:</p>
				<code>{"unix": 1451001600000, "utc": "Fri, 25 Dec 2015 00:00:00 GMT"}</code>
			</section>
		</main>
	</body>
</html>
